.meetings-list {
  @extend .row
}

.meetings-list-item-wrapper {
  @extend .columns, .medium-6;
}

.meetings-list-item {
  @extend .row;

  height: 7em;
  margin-bottom: 2em;
  overflow: hidden;

  .meetings-list-item-datetime {
    @extend .columns, .medium-3, .text-center;

    line-height: 1.4;

    .meetings-list-item-datetime-date {
      background-color: red;
      font-weight: bold;
    }

    .meetings-list-item-datetime-time {
      background-color: green;
    }
  }

  .meetings-list-item-params {
    @extend .columns, .medium-9;
  }

  .progress {
    .level-1 {
      width: 33.333%;
    }

    .level-2 {
      width: 66.666%;
    }

    .level-3 {
      width: 100%;
    }
  }
}
