.current-user-section {
  @extend .row;

  padding-top: 10px;

  .log-in-form {
    border: 1px solid #cacaca;
    border-radius: 3px;
    float: none;
    margin-bottom: 2em;
    padding: 1rem;
  }
}
