<div class="user-module-container">
	<div class="user-login-form-wrapper" ng-show="!currentUserCtrl.isLoggedIn()">
		<p>Zaloguj się</p>

    <form id="user-login" name="user-login" class="form-signin" ng-submit="currentUserCtrl.login()">
      <input type="text" class="form-control" placeholder="Email" required autofocus ng-model="currentUserCtrl.credentials.email">
      <input type="password" class="form-control" placeholder="Password" required ng-model="currentUserCtrl.credentials.pass">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Zaloguj</button>
    </form>

    <a ui-sref="main.registerUser" class="text-center new-account">Załóż konto</a>
	</div>

	<div class="current-user-info-wrapper" ng-show="currentUserCtrl.isLoggedIn()">
		<p>Zalogowany jako: <span>{{currentUserCtrl.currentUser.data.email}}</span></p> <button ng-click="currentUserCtrl.logout()">wyloguj się</button>
    <br />
    <a ui-sref="main.createMeeting">Utwórz spotkanie</a>
	</div>
</div>
