<div>
	<h2>Moje konto</h2>

	<section>
		<h3>Zorganizowane spotkania</h3>
		<ul>
			<li><a ng-href="spotkanie/1">Spotkanie 1</a></li>
			<li><a ng-href="spotkanie/2">Spotkanie 2</a></li>
			<li><a ng-href="spotkanie/3">Spotkanie 3</a></li>
			<li><a ng-href="spotkanie/4">Spotkanie 4</a></li>
		</ul>	
	</section>

	<section>
		<h3>Spotkania, na które się zapisałem</h3>
		<ul>
			<li><a ng-href="spotkanie/5">Spotkanie 5</a></li>
			<li><a ng-href="spotkanie/6">Spotkanie 6</a></li>
			<li><a ng-href="spotkanie/7">Spotkanie 7</a></li>
			<li><a ng-href="spotkanie/8">Spotkanie 8</a></li>
		</ul>	
	</section>
</div>