.create-meeting {

  .meeting-create-header-container .meeting-create-header,
  .meeting-map-container .meeting-map,
  .feature-buttons-container .meeting-assign-box,
  .feature-buttons-container .meeting-unassign-box,
  .feature-buttons-container .meeting-unassign-box,
  .meeting-attributes-container .meeting-attributes {
    margin-bottom: 2em;
  }

  .meeting-create-header-container .meeting-create-header {
    h1 {
      @extend h4;
    }
  }

  .meeting-attributes-container  {
    .meeting-attributes {
      table {
        width: 100%;
      }

      .progress {
        .level-1 {
          width: 33.333%;
        }

        .level-2 {
          width: 66.666%;
        }

        .level-3 {
          width: 100%;
        }
      }
    }

    .meeting-notice-container {
      margin-bottom: 2em;

      .meeting-notice {
        padding: 1em;
      }
    }
  }
}

